body {
  font-family: Arial, Helvetica, sans-serif;
  color: #222;
  margin: 2rem;
  background-color: #f9f9f9;
}

.siteheader {
  margin-bottom: 2rem;
}

.siteheader h1 {
  font-size: 2rem;
}

.emojis {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 2rem;
}

.emoji {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #222;
  border-radius: 8px;
  padding: 1rem;
  background-color: white;
  min-height: 320px;
}

.icon {
  font-size: 4rem;
  margin: 0 auto 0.5rem auto;
  text-align: center;
}

.emoji h2 {
  margin: 0;
  border-bottom: 2px solid #ccc;
  padding-bottom: 0.5rem;
  font-size: 1.5rem;
  text-align: center;
}

.emoji p {
  margin: 1rem 0;
  font-size: 1rem;
  text-align: left;
}

.emoji a {
  text-decoration: none;
  background-color: #781BAA;
  color: white;
  padding: 1rem;
  border-radius: 8px;
  margin-top: auto;
  text-align: center;
  font-weight: bold;
  display: block;
  width: 100%;
}
